*{padding:0;margin:0}
.floatRight{float: right;}
.clear{clear: both;}
.faceBtn, .faceBtn:after, .faceBtn {
    border: 1px solid;
}
.iconBtns{
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    padding: 2px 0;
}
.visitorFaceBtn{
    float: left;
    margin-left: 5px;
}
.visitorFaceBox{
    position: absolute;
    bottom: 86px;
}
.kefuFaceBox{
    position: absolute;
    bottom: 0px;
    z-index: 999;
}
.faceBtn {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    color: #9da0a0;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    position: relative;
    cursor: pointer;
}
.faceBtn:before {
    content: '';
    pointer-events: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 8px 0 0 0, 0 0 0 2px inset;
    height: 4px;
    width: 4px;
    left: 7px;
    position: absolute;
    top: 29%;
}
.faceBtn:after {
    content: '';
    pointer-events: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 15px;
    left: 50%;
    position: absolute;
    top: 10%;
    width: 15px;
}
.imageBtn {
    width: 32px;
    height: 23px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #9da0a0;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    border: 1px solid;
}
.imageBtn:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 16px;
    left: -2px;
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: inset 0 0 0 32px, 10px -6px 0 0;
}
.imageBtn:after {
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 3px;
    box-shadow: inset 0 0 0 32px;
    top: 5px;
    right: 5px
}
.visitorImageBtn{
    float: left;
    margin-left: 20px;
    margin-top: 2px;
}
.faceBox{
    width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 2px;
    display: none;
}
.faceBoxList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.faceBoxList li{
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    width: 28px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}

@-webkit-keyframes bounce-up {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}

@keyframes bounce-up {
    25% {transform: translateY(10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
}
.animate-bounce-up{ -webkit-animation: bounce-up 1.4s linear infinite;animation: bounce-up 1.4s linear infinite;}
.mainLogo{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.mainVersion{
    margin-left: 5px;
    font-size: 12px;
}
.el-submenu__title i{
    color: #fff;
}
.el-container{
    height: 100%;
}
.el-aside{
    height: 100%;
    background: #222d32;
}