*{padding:0;margin:0}
.floatRight{float: right;}
.clear{clear: both;}
.visitorBody{
    background-color: #4c4c4c;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.el-menu.el-menu--horizontal{
    border-bottom: none;
    padding-bottom: 4px;
}
.el-menu--horizontal>.el-menu-item.is-active{
    border-bottom: 3px solid #409EFF;
}
#app {
    width: 100%;
    height: 100%;
}
.chatBg .el-tabs__header{margin: 0;}


.visitorFaceBtn{
    float: left;
    margin-left: 5px;
}

.visitorFaceBox{
    position: absolute;
    bottom: 85px;
}
.visitorIconBtns{
    margin-right: 8px;
    transform: scale(0.8);
}
.visitorIconBtns:hover{
    color:#484848;
}

.kefuFaceBox{
    position: absolute;
    bottom: 0px;
    z-index: 999;
}

.faceBox{
    width: 100%;
    background: #fff;
    z-index: 99999999;
    padding: 2px;
}
.faceBoxList{
    list-style: none;
    padding: 0;
    margin: 0;
}
.faceBoxList li{
    cursor: pointer;
    float: left;
    border: 1px solid #e8e8e8;
    width: 28px;
    overflow: hidden;
    margin: -1px 0 0 -1px;
    padding: 4px 2px;
    text-align: center;
}

@-webkit-keyframes bounce-up {
    25% {-webkit-transform: translateY(10px);}
    50%, 100% {-webkit-transform: translateY(0);}
    75% {-webkit-transform: translateY(-10px);}
}

@keyframes bounce-up {
    25% {transform: translateY(10px);}
    50%, 100% {transform: translateY(0);}
    75% {transform: translateY(-10px);}
}
.animate-bounce-up{ -webkit-animation: bounce-up 1.4s linear infinite;animation: bounce-up 1.4s linear infinite;}
.mainLogo{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.mainVersion{
    margin-left: 5px;
    font-size: 12px;
}

.el-container{
    height: 100%;
}
.el-aside {
    height: 100%;
    background: #fff;
}
.textDark {color: #343a40;}
.bgInfo {background-color: #17a2b8}
.bgSuccess {background-color: #28a745}
.bgDanger {background-color: #dc3545}
.bgInfo {background-color: #17a2b8}
.smallBox {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    color: #fff;
}
.settingMain h2{
    margin-bottom: 20px;
}
.settingMain h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.bigPic{
    background: #ccc;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    text-align: center;
}
/*客服聊天主板*/
.chatBg{background: #fff;border: solid 1px #e6e6e6;overflow: hidden;}
.chatLeft{height:100%;overflow:auto;}
.chatLeft .el-tabs__nav,.chatRight .el-tabs__nav {
    margin-left: 20px;
}
.chatRight{
    height: 100%;
    background: #fff;
    overflow-x: hidden;
}
.onlineUsers {
    padding: 10px 4px;
    height: 40px;
    font-size: 14px;
    border-bottom: solid 1px #f1f1f1;
    border-left: 4px solid #fff;
    display: flex;
    cursor: pointer;
}
.onlineUsers a{
    color: #333;
}
.onlineUsers:hover, .onlineUsers.cur {
    background-color: rgb(238 247 255);
    border-left: 4px solid #4299e2;
}
.imgGray {-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);filter: gray;color:#888;}
.hasLastMsg{line-height: normal;}
.lastNewMsg{font-size: 12px;color: #7f7f7f;margin-top: 4px;overflow: hidden;height: 16px;}
/*客服页*/
.chatKfPageApp{
    max-width: 800px;
    margin:0 auto;
}
.chatCenter {
    background: #fff;
    max-width: 840px;
    margin: 0 auto;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    border-top: none;
    overflow: hidden;
}
.chatContext{
    width: 100%;
    text-align: left;
    position: relative;
    background: rgb(245,245,245);
}
.chatBox{
    /*overflow-y: auto;*/
    overflow-x: hidden;
    background: rgb(245,245,245);
    /*margin-bottom: 80px;*/
}
.chatVisitorPage{
    height: calc(100% - 86px);
    overflow-y: auto;
}
.chatVisitorPage .chatBox{
    padding: 5px 4px;
}
.chatBox .el-col{margin:10px 0;}
.chatUser{
    font-size: 12px;
    white-space: nowrap;
    color: #999;
    text-align: left;
    margin: -5px 0px 3px 0px;
}
.chatMainPage{
    margin-top: 1px;
}
.chatContent {
    background-color: rgb(255,255,255);
    color: #000;
    border: 1px solid rgb(237,237,237);
    min-height: 20px;
    padding: 8px 15px;
    word-break: break-all;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    line-height: 21px;
    font-size: 14px;
}
.chatContent2 {
    border-radius: 8px 8px 8px 0px;
    padding: 10px 15px;
}
.chatBoxMe{
    margin-top: 10px;
}
.chatBoxMe .chatContent2 {
    border-radius: 8px 8px 0px 8px;
    background-color: #cde0ff;
    color: #000;
}
a{color: #07a9fe;text-decoration: none;}


.chatBoxMe .chatContent{float: right;}
.chatBoxMe .chatContent:after{border-left-color: rgba(152,225,101,1);border-right:none;left:auto;right: -5px;}
.chatBoxMe .chatContent:before{border-left-color: rgb(152,225,101);border-right:none;right: -5px;left: auto;}
.chatBoxMe .el-col-3{float: right;text-align: right;}
.chatBoxMe .chatUser{text-align: right}
.btnArea{width: 10%;float: right;}


.chatTitle{height: 30px;line-height: 30px;color: #1989fa}
.chatBoxSend{
    position: relative;
    padding-top: 5px;
    background: #fff;
    width: 100%;
    height: 80px;
    z-index: 99;
    border-top: 1px solid #e4e4e4;
}
.chatBoxSendBtn{float: right;margin: 12px 4px 0 0;}
.footContact{text-align: center;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
}
.footContact a{font-size: 12px;color: #999;text-decoration: none;}
.chatTime{text-align: center;color: #bbb;margin: 12px 0;font-size: 12px;}
.chatTime span{display: inline-block;padding: 2px 5px;background: rgb(218,218,218);color: #fff;}
.chatTimeHide{display: none;}
.visitorInfo .el-menu-item{
    font-size: 12px;
}
.chatRightTitle{
    color: #303133;
    height: 40px;
    line-height: 40px;
    padding:0 10px;
    font-size: 14px;
    border-bottom:1px solid #E4E7ED;
}
.chatRightTitle a{
    float: right;
    text-decoration: none;
    color: #519eff;
}
.replyBox{
    font-size: 12px;
    min-height: 300px;
    background: #fff;
}
.replyItem:hover{
    background-color: #f0f9eb;
    color: #67C23A;
}
.replyContent{
    padding: 0 10px;
}
.replySearch{
    margin: 5px 7px;
    width: 96% !important;
}
.iconBtnsBox{
    display: flex;
    align-items: center;
    color: #7e7e7e;
    height: 35px;
}
.iconBtnsBox .iconBtn{
    margin-right: 10px;
    cursor: pointer;
}
.kefuMainBg{background: #f5f5f5;border-right: solid 1px #e6e6e6;boder-top:none;}
.kefuFuncBtns{background:#fff;margin: 2px 0px;color: #7f7f7f;border-bottom: 1px solid #e6e6e6;font-size: 12px;padding: 5px 0px;}

.kefuFuncBox{
    position: absolute;
    height: 135px;
    bottom: 0px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e5e5e5;
}
.kefuFuncBox .faceBox{
    position: absolute;
    bottom:100px;
}
.kefuFolderBtn{vertical-align: middle;}
.visitorReply{
    font-size: 14px;
    line-height: 24px;
}
.visitorReplyTitle{

}
.visitorReplyContent{
    color:#007aff;
    cursor: pointer;
}
.kefuSendBtn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
}
.clear{clear:both;}


.chatEntTitle {
    display: none;
    width: 100%;
    z-index: 9;
    margin: 0 auto;
    height: 56px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    background-color: rgb(11 113 236);
    background-image: url(../images/visitor_title_bg.png);
    background-size: auto 72px;
    background-position: center 0;
    align-items: center;
}
.chatEntTitle span {
    margin-right: 10px;
}
.chatEntTitle .el-badge__content.is-fixed.is-dot {
    right: 17px;
    bottom: -5px;
    top: unset;
}
.chatEntBox{
    height: 100%;
    position: relative;
}
.chatArticle{
    display: none;
}
.visitorIconBox{
    display: flex;
    align-items: center;
    color:#9c9c9c;
}
.visitorIconBox .iconBtn{
    margin-right: 10px;
    cursor: pointer;
}
.productCard{
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
    width: auto;
    max-width: 730px;
    display: flex;
    border-radius: 5px;
}
.productCard img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.productCard .productCardPrice{
    color: #ff7736;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
.productCard .productCardTitle{
    color: #333;
}
@media screen and (min-width: 900px) {
    .chatCenter {
        max-height: 650px;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        border-radius: 8px;
    }
    .chatVisitorPage {
        height: calc(100% - 156px);
    }
    .chatEntTitle{display: flex;}
    .chatEntTitleLogo {
        margin-left: 15px;
    }
    .visitorBody {
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .chatEntBox {
        width: calc(100% - 265px);
        float: left;
        border-right: 1px solid #e6e6e6;
    }
    .chatArticle {
        display: block;
        width: 260px;
        float: right;
        overflow-y: auto;
    }
    .hotQuestionTitle {
        padding: 10px 10px 10px 10px;
        border-bottom: 1px solid rgba(0,0,0,.09);
        font-size: 16px;
        display: flex;
    }
    .hotQuestionTitle .fire {
        width: 20px;
        margin-right: 10px;
        color: rgb(250, 84, 28);
    }
}
.visitorEditorArea{
}
.visitorEditorArea  textarea {
    padding: 7px 0 7px 8px;
    font-size:16px;
    line-height: 21px;
    border: none;
}
.visitorEditorBtn{
    position: absolute;
    right: 10px;
    bottom: 2px;
}
.mainLeftMenu {
    width: 70px;
    float: left;
    height: 100%;
    text-align: center;
    background-color: #0a2f5a;
    position: relative;
}
.menuLeftItem {
    height: 55px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding-top: 12px;
    width: 100%;
}
.menuLeftItem i, .menuLeftItem .el-badge {
    display: block;
    margin-bottom: 2px;
    font-size: 20px;
}
.menuLeftItem span {
    font-size: 12px;
}
.menuLeftItemLogout {
    position: absolute;
    bottom: 0px;
}
.mainRight {
    width: calc(100% - 70px);
    height: 100%;
    float: left;
}
.mainIframe {
    width: 100%;
    height: 100%;
}
.menuLeftItem:active, .menuLeftItem.active {
    background: #2b5a96;
}
.chatNotice {
    text-align: center;
    margin: 12px 0px;
}
.chatNoticeContent {
    display: inline-block;
    word-break: break-all;
    color: rgba(0,0,0,.45);
    margin: 0 24px;
    max-width: calc(100% - 48px);
    background-color: #fff;
    border-radius: 16px;
    font-size: 12px;
    padding: 4px 16px;
}
.chatRow {
    display: flex;
}
.chatRowAvator {
    margin-right: 10px;
    flex-shrink: 0;
}
.chatBoxMe .chatRow {
    float: right;
}
.chatBoxMe .chatRowAvator {
    margin-left: 10px;
}
.allNotice{
    font-size: 12px;
    margin: 10px 0px;
    line-height: 23px;
    color: #666;
}
.chatArea .el-textarea__inner{
    border: none;
}
.tongji{
    display: flex;
}
.tongji .tongjiItem{
    background: #fff;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
}
.tongji .tongjiHeader{
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    border-bottom: 1px solid #e8eaec;
    color:#17233d;
}
.tongji .tongjiBody{
    font-size: 30px;
    margin: 0px 10px;
    padding: 10px 0px;
    border-bottom: 1px solid #e8eaec;
    color: #515a6e;
}
.tongji .tongjiFooter{
    font-size: 14px;
    margin: 10px 10px;
    color: #515a6e;
}
.tongji .tongjiFooter span{
    color: red;
    padding: 0 3px;
}
    /* 定义滚动条的宽度、高度和背景色 */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: #f5f5f5;
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: #c5c5c5;
}



/* 定义滚动条滑块在 hover 状态下的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}