<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="keywords" content="开源客服系统,golang在线客服,免费客服系统,go语言在线聊天工具,gofly,GOFLY客服系统"/>
    <meta name="description" content="golang开发的开源免费客服系统,可独立部署客服系统,支持文字/表情/图片/文件发送,支持快捷回复,支持IP黑名单,展示访客信息,后台权限控制"/>
    <meta name="author" content="陶士涵">
    <title>GO语言开源客服系统-GOFLY</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.1/theme-chalk/index.min.css">
    <script src="https://cdn.staticfile.org/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/element-ui/2.15.1/index.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/js/functions.js?v=0.1.1"></script>
    <script src="/assets/js/reconnecting-websocket.min.js"></script>
    <link rel="stylesheet" href="/static/css/front.css?v=1.0.0" />
    <link rel="stylesheet" href="/static/css/common.css?v=1.0.0" />
    <link rel="stylesheet" href="/static/css/icono.min.css" />
</head>
<body>
<div id="app"  class="chatCenter">
    <template>
        <!--客服代码-->
        <div class="chatContext chatVisitorPage">
            <div class="chatBox">
                <el-alert
                        style="margin:10px 0px;width: 100%"
                        :title="chatTitle"
                        :closable="false"
                        type="success">
                </el-alert>
                <el-row :gutter="2" v-show="replys.length>0">
                    <el-col :span="3"><el-avatar shape="square" :size="36" :src="noticeAvatar"></el-avatar></el-col>
                    <el-col :span="21">
                        <div class="chatUser"><{noticeName}></div>
                        <div class="chatContent visitorReply" >
                            <div v-for="reply in replys">
                                <div class="visitorReplyTitle"><{reply.group_name}></div>
                                <div v-on:click="sendReply(item.item_name)" class="visitorReplyContent" v-for="item in reply.items"><{item.item_name}></div>
                            </div>
                        </div>
                    </el-col>
                    <div class="clear"></div>
                </el-row>

                <el-row :gutter="2" v-for="v in msgList" v-bind:class="{'chatBoxMe': v.is_kefu==true}">
                    <div class="chatTime" v-bind:class="{'chatTimeHide': v.show_time==false}"><span><{v.time}></span></div>
                    <el-col :span="3"><el-avatar shape="square" :size="36" :src="v.avator"></el-avatar></el-col>
                    <el-col :span="21">
                        <div class="chatUser"><{v.name}></div>
                        <div class="chatContent" v-html="v.content"></div>
                    </el-col>
                    <div class="clear"></div>
                </el-row>
            </div>
        </div>
        <div class="chatBoxSend">
            <div class="iconBtns">
                <div class="icono-smile visitorFaceBtn"></div>
                <div class="icono-image visitorImageBtn" id="uploadImg" v-on:click="uploadImg('/uploadimg')"></div>
                <div class="icono-folder visitorFolderBtn" id="uploadFile" v-on:click="uploadFile('/uploadfile')"></div>
                <div class="icono-comment visitorHistoryBtn"  v-on:click="getMesssagesByVisitorId(true)"></div>
                <div class="clear"></div>
            </div>
            <el-input  @focus="textareaFocus" @blur="textareaBlur" v-model="messageContent"  @keyup.native="inputNextText" v-on:keyup.enter.native="chatToUser" :placeholder="flyLang.textarea">
                <el-button slot="append" :disabled="sendDisabled||messageContent==''" v-on:click="chatToUser"><{flyLang.sent}></el-button>
            </el-input>
            <div class="faceBox visitorFaceBox">
                <ul class="faceBoxList">
                    <li v-on:click="faceIconClick(i)" class="faceIcon" v-for="(v,i) in face"  :title="v.name"><img :src=v.path></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="footContact clear">
                <a href="https://github.com/taoshihan1991/go-fly" target="_blank"><{flyLang.copyright}></a>
            </div>
        </div>
        <!--//客服代码-->
        <audio id="chatMessageAudio">
            <source id="chatMessageAudioSource"  />
        </audio>
        <audio id="chatMessageSendAudio">
            <source id="chatMessageSendAudioSource"  />
        </audio>
    </template>
</div>
</body>
<script>
    var KEFU_ID='{{.KEFU_ID}}';
    var REFER='{{.Refer}}';
    var LANG=checkLang();
</script>
<script src="/assets/js/chat-lang.js?v=0.3.7"></script>
<script src="/assets/js/chat-page.js?v=0.3.7"></script>
</html>
