<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>开源免费客服系统-极简强大Golang语言开发在线客服单页营销系统 - GOFLY</title>
    <meta name="keywords" content="GO-FLY,GOFLY客服,开源免费在线客服,GO语言客服,免费客服,开源客服,web客服,go客服,网站客服系统,免费在线客服,网站在线客服,在线客服软件,php客服" />
    <meta name="description" content="GOFLY客服,GO-FLY开源客服，一套可独立部署的免费开源客服系统，网站在线客服系统，下载zip解压即可，仅依赖MySQL数据库，是一个开箱即用的网页在线客服，适合PHP程序员使用，同时也是首页完全可以编辑的单页营销系统." />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?82938760e00806c6c57adee91f39aa5e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<!--对接客服代码,安装完成后更改成自己的域名或IP，下面js文件路径以及GOFLY_URL都要改-->
<script src="https://jd.sopans.com/assets/js/gofly-front.js?v=1"></script>
<script>
    GOFLY.init({
        GOFLY_URL:"https://jd.sopans.com",
        GOFLY_KEFU_ID: "taoshihan",
        GOFLY_ENT: "5",
        GOFLY_BTN_TEXT: "GOFLY在线客服!",
        GOFLY_LANG:"cn",
    })
</script>
<!--//对接客服代码-->
<div class="header">
    <div class="container">
        <h1 class="logo"><a href="/"><img src="/static/images/logo.png" alt="GOFLY客服" title="GOFLY客服"/></a></h1>
        <a class="navBtn" href="/index_en">English</a>
        <a class="navBtn" href="/index_cn">中文版</a>


        <a class="navBtn" href="/static/h5/" target="_blank">H5版</a>
        <a class="navBtn" href="https://jd.sopans.com" target="_blank">演示</a>

    </div>
</div>
<div class="clear"></div>
<div class="banner">
    <h1>开源 · 免费 · 网页在线客服营销系统</h1>
    <p>GO-FLY，一套可独立部署的免费开源客服系统，基于Golang开发，编译后的二进制文件可直接使用无需搭开发环境，下载zip解压即可，仅依赖MySQL数据库，是一个开箱即用的网页在线客服系统，同时也是首页完全可以编辑的单页营销系统</p>
    <p><a target="_blank" href="https://github.com/taoshihan1991/go-fly" class="downloadBtn">GOFLY (Github开源)</a>
        <a target="_blank" href="https://dwz.cn/XFf8o2ym" class="downloadBtn">下载 GOFLY0.3.7 (单商户编译版)</a>
        <a target="_blank" href="https://dwz.cn/q9Kfrunc" class="downloadBtn">下载 GOFLY-PRO0.3.8 (商务版)</a>
    </p>

</div>
<div class="main">
    <img alt="GOFLY在线客服"  title="GOFLY在线客服" class="jumbotron" src="https://gofly.sopans.com/static/images/admin.jpg"/>
    <div class="container mainIntro">
        <div class="product">
            <h3>产品优势</h3>
            <div class="productContent">
                <p>1.使用PHP客服或者JAVA客服时，需要安装各种扩展和依赖，配置运行环境复杂，安装过程耗费心力。市面上大部分客服系统，无法在windows系统运行，不能做到跨平台部署。</p>
                <p>2.gofly客服安装仅需要下载解压安装包，仅依赖MySQL数据库，就能够快速部署，界面简洁功能完善。</p>
                <p>3.gofly客服是golang语言开发，天然支持异步协程，可以利用多核CPU，支持更大流量更高并发。程序可编译后运行，无需像PHP每次解释执行，执行效率更高，</p>
            </div>
            <h4>问：新版编译下载为何收费？</h4>
            <div class="productContent">
                <p>答：</p>
                <p>1. 代码完全开源免费，托管在github上，可以随时clone/fork</p>
                <p>2. 每次build打包上传，需要花费一定的时间比较繁琐</p>
                <p>3. 使用编译版的用户，在安装和使用时可以随时咨询开发者</p>
                <p>4. 老用户可联系我微信，单独发送给你，联系方式<a href="javascript:GOFLY.showPanel();">在线客服</a>自助获取.</p>
            </div>
        </div>
        <div class="product">
            <h3>安装使用</h3>
            <h4>访客端js引入使用</h4>
            <div class="productContent">
                <p>1.引入js并且修改为自己的域名</p>
                <pre>
    script标签引入这段js https://gofly.sopans.com/assets/js/gofly-front.js
    GOFLY.init({
        GOFLY_URL:"https://gofly.sopans.com",
        GOFLY_KEFU_ID: "kefu2",//对接的客服name
    })
                </pre>
                <p>2.隐藏默认按钮使用自己的按钮</p>
                <pre>

    GOFLY.init({
        GOFLY_URL:"https://gofly.sopans.com",
        GOFLY_KEFU_ID: "kefu2",//对接的客服name
        GOFLY_WITHOUT_BTN:true,
    })
    在你的按钮点击事件上,调用这个方法 GOFLY.showPanel() [新版添加]
                </pre>
            </div>
            <h4>配置数据库</h4>
            <div class="productContent">
                <p>在mysql命令行下或者网页管理面板里 , 创建好空数据库.</p>
                <pre>
    mysql命令行下的建库语句如下:
    create database gofly charset utf8;
                </pre>
                <p>编辑config/mysql.json , 更换为自己的数据库host/用户名/密码/数据库名</p>
            </div>
            <h4>服务端安装</h4>
            <div class="productContent">
                <p>1. linux系统</p>
                <p>下载zip压缩包,并且解压缩的详细命令如下.</p>
                <pre>
    mkdir go-fly
    cd go-fly
    wget xxxxxxxxxxx.zip
    unzip xxxx.zip
    chmod 0777 -R ./
    导入数据库( 注意:会删除表并且清空数据 )
    linux: ./go-fly install
                </pre>
                <p>2. windows系统</p>
                <p>在cmd命令行下进入解压的目录</p>
                <pre>
    导入数据库( 注意:会删除表并且清空数据 )
    windows: go-fly.exe install
                </pre>
                <p>3. 运行项目</p>
                <pre>
    linux:   ./go-fly server [可选 -p 8082 -d]
    windows: go-fly.exe server [可选 -p 8082 -d]
    参数说明
    -p 指定端口
    -d linux下是否以daemon守护进程运行
    -h 查看帮助
                </pre>
                <p>4. 关闭程序</p>
                <pre>
    linux下使用ps命令结合kill命令杀掉进程,windows下使用任务管理器结束进程
    ps -ef|grep go-fly 看到父子进程id
    kill 进程父进程id ； kill 进程子进程id
                </pre>
                <p>详细请参考readme.md</p>
            </div>
        </div>
        <div class="product">
            <h3>版本更新</h3>
            <h4>v0.3.8 2021-04-14</h4>
            <div class="productContent">
                <ol>
                    <li>访客端输入框以及图标icon按钮修改</li>
                    <li>客服端界面icon修改</li>
                    <li>修复后端发消息空指针错误导致的进程退出</li>
                    <li>增加允许跨域的http头,nginx中的跨域相关http头可以去掉</li>
                </ol>
            </div>
            <h4>v0.3.7 2021-03-25</h4>
            <div class="productContent">
                <ol>
                    <li>访客端增加自助服务点击后可以自动回复</li>
                    <li>访客端手机端咨询按钮移到右侧不遮挡底部</li>
                    <li>访客端前端修复多个layer冲突问题</li>
                    <li>后端修改守护进程方式,进程崩溃后可自动重启 </li>
                    <li>后端增加定时清理频限防止内存泄露</li>
                    <li>后端增加通知频限和访客输入频限防止死锁</li>
                    <li>编译增加linux-x86_64/linux-i686版本支持</li>
                </ol>
            </div>
            <h4>v0.3.6 2021-03-16</h4>
            <div class="productContent">
                <ol>
                    <li>修复访客端标题闪烁问题</li>
                    <li>优化访客端头像样式以及小键盘遮挡问题</li>
                    <li>优化发消息问题</li>
                    <li>新增访客关键词自动回复功能</li>
                    <li>客服端增加附件上传功能</li>
                    <li>客服端增加关键词自动回复功能</li>
                </ol>
            </div>
            <h4>v0.3.5 2021-03-11</h4>
            <div class="productContent">
                <ol>
                    <li>新增分开系统自动断线与客服关闭连接</li>
                    <li>修复没有设置欢迎时tip显示错误问题</li>
                    <li>修复客服端发送消息错误提示不显示问题</li>
                    <li>修复一些界面问题</li>
                </ol>
            </div>
            <h4>v0.3.3 2021-03-09</h4>
            <div class="productContent">
                <ol>
                    <li>访客/客服端聊天界面样式修改</li>
                    <li>访客端展示客服头像信息</li>
                    <li>访客到来自动打开,以及参数控制</li>
                    <li>客服端新消息提醒标识</li>
                    <li>客服端访客列表展示访客正在输入信息</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container mainIntro">
        <div class="product">
            <h3>常见问题</h3>
            <div class="productContent">
                <ul class="productPost">
                    <li><a href="https://www.cnblogs.com/taoshihan/p/14614352.html">如何下载安装GOFLY客服系统</a></li>
                    <li><a href="https://www.cnblogs.com/taoshihan/p/14612956.html">nginx配置域名和反向代理端口</a></li>
                    <li><a href="https://www.cnblogs.com/taoshihan/p/14464255.html">解决旧版本跨域问题been blocked by CORS policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mainIntro">
        <div class="product">
            <h3>友情链接</h3>
            <div class="productContent">
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">网站客服系统</a>
                <a href="https://gofly.sopans.com/"  target="_blank">免费在线客服</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">网站在线客服</a>
                <a href="https://gofly.sopans.com/" target="_blank">在线客服软件</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">网站在线客服系统</a>
                <a href="https://gofly.sopans.com/" target="_blank">网站客服软件</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">网页客服</a>
                <a href="https://gofly.sopans.com/" target="_blank">在线客服源码</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">网页在线客服代码</a>
                <a href="https://gofly.sopans.com/" target="_blank">在线咨询系统</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">免费客服系统</a>
                <a href="https://gofly.sopans.com/" target="_blank">网上客服软件</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">开源客服软件</a>
                <a href="https://gofly.sopans.com/" target="_blank">在线客服程序</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">免费在线客服系统</a>
                <a href="https://gofly.sopans.com/" target="_blank">网站客服系统代码</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">在线客服系统源代码</a>
                <a href="https://gofly.sopans.com/" target="_blank">网页在线客服</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">免费网站客服</a>
                <a href="https://gofly.sopans.com/" target="_blank">在线客服系统源码</a>
                <a href="https://gofly.sopans.com/chatIndex" target="_blank">免费在线客服软件</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="footer">
        <div class="copyright">
            Copyright sopans.com Rights Reserved.  Powered By <a  href="https://gofly.sopans.com">陶士涵</a> 版权所有<a  href="javascript:GOFLY.showPanel();">联系客服</a>© 2020-2021
        </div>
    </div>
</div>

</body>
</html>