{{template "header" }}
<div id="app" style="width:100%;background: #eef0f6">
    <template>
        <div class="tongji">
            <div class="tongjiItem">
                <div class="tongjiHeader">
                    全部客户
                </div>
                <div class="tongjiBody">
                    33
                </div>
                <div class="tongjiFooter">
                    累计客户数量<span>xx</span>人
                </div>
            </div>
            <div class="tongjiItem">
                <div class="tongjiHeader">
                    日新增客户
                </div>
                <div class="tongjiBody">
                    33
                </div>
                <div class="tongjiFooter">
                    累计客户数量<span>xx</span>人
                </div>
            </div>
            <div class="tongjiItem">
                <div class="tongjiHeader">
                    月新增客户
                </div>
                <div class="tongjiBody">
                    33
                </div>
                <div class="tongjiFooter">
                    累计客户数量<span>xx</span>人
                </div>
            </div>
            <div class="tongjiItem">
                <div class="tongjiHeader">
                    年新增客户
                </div>
                <div class="tongjiBody">
                    33
                </div>
                <div class="tongjiFooter">
                    累计客户数量<span>xx</span>人
                </div>
            </div>
        </div>
        <div style="background: #fff;margin: 10px;padding: 10px" id="visitorNums">

        </div>
    </template>

</div>
</body>
<script src="/static/js/echarts.min.js?v=1.0.0"></script>
<script>
const ACTION="pannel";
</script>
{{template "setting_bottom" .}}
