{{template "header" }}
<div id="app" style="width:100%">
    <template>
        <el-container v-loading.fullscreen.lock="fullscreenLoading">

            <el-main class="mainMain">
                <el-table
                        :data="ipblackList"
                        border
                        style="width: 100%">
                    <el-table-column
                            prop="ip"
                            label="IP地址">
                    </el-table-column>
                    <el-table-column
                            prop="create_at"
                            label="添加时间">
                    </el-table-column>
                    <el-table-column
                            prop="id"
                            label="操作">
                        <template slot-scope="scope">
                            <el-button @click="deleteIpblack(scope.row.ip)" type="danger" size="small" plain>删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>

        </el-container>
    </template>

</div>
</body>
{{template "setting_bottom" .}}
