<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>开源免费客服系统-极简强大Go语言开发客服单页营销系统 - GOFLY</title>
	<style>
	body{color: #333;padding-left: 40px;}h1{font-size: 6em;}h2{font-size: 3em;font-weight: normal;}a{color: #333;}
	</style>
<body>
<h1>:)</h1><h2>HELLO GOFLY LIVE CHAT !</h2><h3><a href='/login'>Administrator</a>&nbsp;<a href='/login'>English</a>&nbsp;<a href='/login'>中文</a></h3>
</body>
</html>