{{define "nav"}}
<el-menu
        class="el-menu-demo"
        background-color="#3c8dbc"
        text-color="#fff"
        active-text-color="#fff"
        default-active="3"
        mode="horizontal">
    <el-menu-item  class="mainLogo" v-on:click="openUrl('/main')">GO-FLY<span class="mainVersion">单商户版</span></el-menu-item>
    <el-menu-item style="display:none" index="2" v-on:click="openIframeUrl('/list')">邮箱<el-badge class="mark" :value="mailTotal" style="margin-bottom: 20px;"/>
    </el-menu-item>
    <el-menu-item index="3" v-on:click="openIframeUrl('/chat_main')">聊天</el-menu-item>
    <el-menu-item index="4" v-on:click="openIframeUrl('/setting')">设置</el-menu-item>
    <el-submenu style="float: right" index="10">
        <template slot="title">
            <el-avatar :size="30" :src="adminAvator"></el-avatar>
            <span v-html="adminRole"></span>
        </template>
        <el-menu-item  v-on:click="logout()">
            退出
        </el-menu-item>
    </el-submenu>
</el-menu>
{{end}}