<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="陶士涵">
    <title>GO-FLY咨询页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.1/lib/theme-chalk/index.css">
    <script src="/static/js/functions.js?v=0.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.1/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/common.css?v=0.1.2" />
    <style>
        html,
        body {
            height: 100%;
            background: #fff;
        }
    </style>

</head>
<body>
<div id="app"  class="chatCenter">
    <template>
        <!--客服代码-->
        <div class="chatContext">
            <div class="chatBox">
                <el-alert
                        style="margin-bottom: 10px;font-size: 12px;"
                        title="公告 : 访客您好，欢迎star fork github https://github.com/taoshihan1991/go-fly ，感谢您的支持。"
                        type="success">
                </el-alert>
                <el-alert
                        style="margin-bottom: 10px;"
                        :title="chatTitle"
                        :closable="false"
                        type="success">
                </el-alert>
                <el-row :gutter="2" v-for="v in msgList" v-bind:class="{'chatBoxMe': v.is_kefu==true}">
                    <div class="chatTime" v-bind:class="{'chatTimeHide': v.show_time==false}"><{v.time}></div>
                    <el-col :span="3"><el-avatar :src="v.avator"></el-avatar></el-col>
                    <el-col :span="21">
                        <div class="chatUser"><{v.name}></div>
                        <div class="chatContent" v-html="v.content"></div>
                    </el-col>
                    <div class="clear"></div>
                </el-row>
            </div>
        </div>
        <div class="chatBoxSend">
            <div class="iconBtns">
                <div class="faceBtn visitorFaceBtn"></div>
                <div class="imageBtn visitorImageBtn" id="uploadImg" v-on:click="uploadImg('/uploadimg')"></div>
                <div class="clear"></div>
            </div>
            <el-input type="textarea" class="chatArea" v-model="messageContent" v-on:keyup.enter.native="chatToUser"></el-input>
            <div class="faceBox visitorFaceBox">
                <ul class="faceBoxList">
                    <li v-on:click="faceIconClick(i)" class="faceIcon" v-for="(v,i) in face"  :title="v.name"><img :src=v.path></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="btnArea">
                <el-button type="primary" class="chatBoxSendBtn" size="small" v-on:click="chatToUser">{{.SendBtn}}</el-button>
            </div>
            <div class="clear"></div>
        </div>
        <!--//客服代码-->
    </template>
</div>
</body>
<script src="//pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="https://cdn.bootcss.com/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
    var KEFU_ID='{{.KEFU_ID}}';
    var REFER='{{.Refer}}';
</script>
<script src="/static/js/chat-page.js?v=0.1.2"></script>
</html>
