{{template "header" }}
<div id="app" style="width:100%">
    <template>
        <el-container>

            <el-main class="mainMain">
                <el-tabs>
                    <el-tab-pane label="默认JS模式">
                       <textarea style="width:100%;color:green;font-size:12px;height:290px;">
<script>
    var GOFLY_URL="";
    var GOFLY_KEFU_ID="kefu2";
    var GOFLY_BTN_TEXT="Chat with me";
</script>
<script src="/static/js/gofly-front.js"></script>
                       </textarea>
                    </el-tab-pane>
                    <el-tab-pane label="超链接模式">
                        <el-input value="https://gofly.sopans.com/chatIndex?kefu_id=[客服用户名]"></el-input>
                    </el-tab-pane>
                </el-tabs>
            </el-main>

        </el-container>
    </template>

</div>
</body>
{{template "setting_bottom" .}}
