{{template "header" }}
<div id="app" style="width:100%">
    <template>
        <el-container>
                {{template "setting_left" .}}

            <el-main class="mainMain">
                <el-tabs>
                    <el-tab-pane label="HTML模式">
                       <textarea style="width:100%;color:green;font-size:12px;height:290px;">
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/layer/3.1.1/layer.min.js"></script>
<link href="/static/css/gofly-front.css" rel="stylesheet" type="text/css"/>
<div id="launchButton" class="launchButton animateUpDown">
    <div class="launchButtonText">
        Chat with me
    </div>
</div>
<script>
    var GOFLY_URL="";
    var GOFLY_KEFU_ID="[客服用户名]";
</script>
<script src="/static/js/gofly-front.js"></script>
                       </textarea>
                    </el-tab-pane>
                    <el-tab-pane label="超链接模式">
                        <el-input value="https://gofly.sopans.com/chatIndex?kefu_id=[客服用户名]"></el-input>
                    </el-tab-pane>
                </el-tabs>
            </el-main>

        </el-container>
    </template>

</div>
</body>
{{template "setting_bottom" .}}
